body {
  font-family: Arial;
  background: #f7efe9; /* EDITE AQUI */
}

.box {
  background: white;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 15px;
}

button {
  background: #c2185b; /* EDITE AQUI */
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.whats {
  display: block;
  background: #25d366;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  text-decoration: none;
}

.preco {
  font-size: 22px;
  font-weight: bold;
}
